<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Professor detail</h1>
<section class="row fullWidth university_panel">
    <div class="media-object medium-8 ">
        <h2>{{profs.name}}</h2>
        <div class="media-object-section">
            <div class="thumbnail">
                <img src={{profs.img}}>
            </div>
        </div>
        <div class="media-object-section">
            <h5>Title: {{profs.title}}</h5>
            <h5>Area: {{profs.area}}</h5>
        </div>
    </div>

    <a href="mailto:{{profs.email}}" target="_top"><h4>Email: {{profs.email}}</h4></a>
    <a href={{profs.url}}><h4>HomePage:{{profs.url}}</h4></a>

</section>
</body>
</html>